# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.env

# Temporary data uploads
temp_uploads/
*.db
*.duckdb

# Jupyter / IDE
.ipynb_checkpoints
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
